body {
  font-family: 'Open Sans', sans-serif;
}

.socials {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.socials li {
  margin-left: 1rem;
}

@media screen and (max-width: 767px) {
  #videoMenu {
    height: 280px;
    margin-top: 15px;
  }
  #myCarousel {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){ 
  #myCarousel {
    width: 75%;
  }
}  

@media screen and (min-width: 991px) { 
  #myCarousel {
    width: 50%;
  }
}  

.card {
  width: 100%;
}